<a href="lexer__testcases/dangling_if_else.go">dangling_if_else.go</a>
<br>
<a href="lexer__testcases/for.go">for.go</a>
<br>
<a href="lexer__testcases/func.go">dangling_if_else.go</a>
<br>
<a href="lexer__testcases/incorrect_copy.go">incorrect_copy.go</a>
<br>
<a href="lexer__testcases/incorrect.go">incorrect.go</a>
<br>
<a href="lexer__testcases/loop.go">loop.go</a>
<br>
<a href="lexer__testcases/struct_func.go">struct_func.go</a>
<br>
<a href="lexer__testcases/switch.go">switch.go</a>
